<header class="p-3 mb-3 border-bottom">
  <div
    id="header_nav"
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
    >
      <svg
        class="bi me-2"
        width="40"
        height="32"
        role="img"
        aria-label="Bootstrap"
      >
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <ul
      id="header_links"
      class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
    >
      <li>
        <a href="/" class="nav-link px-2 link-secondary">Home</a>
      </li>
      <li>
        <a
          class="nav-link px-2 link-body-emphasis"
          data-bs-toggle="modal"
          data-bs-target="#modal"
          >Log Game</a
        >
      </li>

      <li>
        <a class="nav-link px-2 link-body-emphasis"><%= locals.user %></a>
      </li>
    </ul>
  </div>
</header>
