<%- include("header.ejs") %>

<main>
  <div class="welcome-section">
    <h1>Welcome to GameLogger!</h1>
    <p>
      Discover a simple and fun way to keep track of your gaming journey. Log
      the games you’ve played, add personal notes, rate your favorites, and
      build your very own gaming library. Start logging now and make every game
      unforgettable!
    </p>
  </div>
</main>

<%- include("footer.ejs") %>
