<%- include("header.ejs") %>

<form class="signupForm"  action="/signup" method="POST">
    <div id="row0" class="row mb-3">
      <label for="inputName" class="col-sm-5 col-form-label">Your Name:</label>
      <div class="col-sm-12">
        <input
          type="text"
          class="form-control"
          name="userName"
          id="inputUserName"
        />
      </div>
    </div>
    <div id="row4" class="row mb-3">
      <input
        type="submit"
        class="btn btn-primary"
        value="SUBMIT"
      />
    </div>
</form>

<%- include("footer.ejs") %>