* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "header header header header header header header header header header header header"
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  height: 100vh;
}

header {
  display: flex;
  grid-area: header;
  position: sticky;          
  top: 0;
  font-size: 30px;
  text-align: left;
  height: 60px; /* Set a fixed height */
  align-items: center; /* Center content vertically */
}

main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(12, 1fr); /* Defines 12 equal columns */
  padding: 0; /* Ensure no padding affects layout */
  margin: 0; /* Remove any default margin */
  gap: 0; /* Ensure no gaps between columns */
}

/*form------------------------------------------------------------------*/

.userForm {
  grid-column: 2 / 6; /* Form spans columns 1 to 4 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; /* Space between form elements */
  background-color: white; /* Example: Form background color */
  padding: 20px; /* Optional padding for the form */
  border-radius: 5px; /* Optional rounded corners */
  font-size: 33px;
}
.signupForm {
  grid-column: 2 / 6; /* Form spans columns 1 to 4 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; /* Space between form elements */
  background-color: white; /* Example: Form background color */
  padding: 20px; /* Optional padding for the form */
  border-radius: 5px; /* Optional rounded corners */
  font-size: 33px;
}

.userForm .btn,
.signupForm .btn {
  width: 100px;
}

.signupForm #row0 > label {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#row0 > label,
#row1 > label,
#row2 > label {
  width: 100%;
}

#row3 {
  display: flex;
  justify-content: center;
}

#row3 > label {
  text-align: center;
  width: 400px;
}

#row4 {
  display: flex;
  justify-content: center;
}

footer {
  grid-row: 3;
  grid-area: footer;
  position: sticky;
  bottom: 0;
  font-size: 11px;
}

.welcome-section {
  display:flex;
  flex-direction:column;
  align-items:center;
  place-items:center;
  justify-content:center;
  border:1px solid red;
  grid-column: 1 / -1; /* Form spans columns 1 to 4 */
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.welcome-section h1 {
  margin: 0 0 20px;
  font-size: 2.5rem;
  color: #333333;
}

.welcome-section p {
  margin: 0;
  font-size: 1.2rem;
  color: #666666;
  line-height: 1.6;
}
 




/*rating*/

.rating {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row-reverse; /* this is the magic */
  justify-content: center;
}

.rating input {
  display: none;
}

.rating label {
  font-size: 32px;
  cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label {
  /* reason why the stars are in reverse order in the html */
  color: orange;
}

.rating input:checked ~ label {
  color: orange;
}

/*fonts---------------------------------------------------*/

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 524;
  font-style: normal;
}

main h1 {
  grid-column: 5 / 8;
  font-size: 100px;
}

#btn_home {
  aspect-ratio: 1 / 1;
  width: 100%; /* Fills the container */
  max-width: 154px; /* Maximum size */
  min-width: 100px; /* Minimum size */
  border-radius: 50%;
  background-color: orange;
  border: 3px solid black;
  color: black;
  font-size: 21px;
}

#home_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal */

#modalForm {
  grid-column: 4 / 8; /* Form spans columns 1 to 4 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px; /* Space between form elements */
  background-color: white; /* Example: Form background color */
  padding: 30px; /* Optional padding for the form */
  border-radius: 5px; /* Optional rounded corners */
}

#modalForm2 {
  place-items: center;
  grid-column: 4 / 10; /* Form spans columns 1 to 4 */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between form elements */
  background-color: white; /* Example: Form background color */
  padding: 30px; /* Optional padding for the form */
  border-radius: 5px; /* Optional rounded corners */
}

#openModal {
  grid-column: 8 / 9;
  align-self: center;
  aspect-ratio: 1 / 1;
  width: 100%; /* Fills the container */
  max-width: 154px; /* Maximum size */
  min-width: 100px; /* Minimum size */
  border-radius: 50%;
  background-color: orange;
  border: 3px solid black;
  color: black;
  font-size: 21px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 45px 40px 30px 50px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 550px;
  width: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

#modal .modal-content .form-footer > button {
  width: 150px;
}

#row2_modal3{
  display:flex;
  justify-content:center;
}

#modal .modal-content .form-footer {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

#modal3 .modal-content > h2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#modal3 #row0_modal3 label,
#row1_modal3 label {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
}

#modal2 .modal-content > h2 {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#modal2 #row0 > label,
#row1 > label {
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
}

/*media query----------------------------------------------------------------*/
/* Extra small devices (phones, 320px and up) */
@media (max-width: 479px) {
  #modal {
    height: 100%; /* Adjust as needed */
    border: 2px solid blue;
  }

  .modal-content {
    max-width: 600px;
  }

  #modalForm p {
    font-size: 0.8rem;
  }

  #modalForm h3 {
    font-size: 1rem;
  }

  #modalForm h2 {
    font-size: 1.5rem;
  }
}

/* Small devices (phones, 480px to 767px) */
@media (min-width: 480px) and (max-width: 767px) {
  body{
    border: 3px solid green;
  }

  .modal-content {
    max-width: 600px;
  }

  #modalForm p {
    font-size: 0.8rem;
  }

  #modalForm h3 {
    font-size: 1rem;
  }

  #modalForm h2 {
    font-size: 1.5rem;
  }
}

/* Medium devices (tablets, 768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  body{
    border: 4px solid orange;
  }

  .modal-content {
    max-width: 600px;
  }

  #modalForm p {
    font-size: 0.8rem;
  }

  #modalForm h3 {
    font-size: 1rem;
  }

  #modalForm h2 {
    font-size: 1.5rem;
  }
}

/* Large devices (desktops, 1024px to 1279px) */
@media (min-width: 1024px) and (max-width: 1279px) {
  body{
    border: 4px solid pink;
  }

  .modal-content {
    max-width: 600px;
  }

  #modalForm p {
    font-size: 0.8rem;
  }

  #modalForm h3 {
    font-size: 1rem;
  }

  #modalForm h2 {
    font-size: 1.5rem;
  }
}

/* Extra large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {


  body{
    border: 3px solid blue;
  }

  .modal-content {
    max-width: 600px;
  }

  #modalForm p {
    font-size: 0.8rem;
  }

  #modalForm h3 {
    font-size: 1rem;
  }

  #modalForm h2 {
    font-size: 1.5rem;
  }
}
