* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  border: 3px solid yellow;
  display: grid;
  grid-template-rows: 100px 1fr 90px;
  height: 100vh;
}

#header,
#footer {
  border: 3px solid red;
}

#header {
  position: sticky;
  top: 0;
}

#footer {
  position: sticky;
}

#form {

  border: 4px solid green;
}

main{
  display:grid;
  grid-template-columns:500px auto;
  border:1px solid red;
  padding:100px;
}


